{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>{{ title2 }}</p>

  <br>
  <br>





    {% for submission in competitorsArray %}

    {% if submission.index % 2 === 0  %}

  <div class = 'fighter row col-xs-6 text-center'>

    <h2>{{submission.githubName}}</h2>
    <div class = 'picture col-xs-12'>
    <img src = '{{submission.githubImage}}' alt = 'competitors-pic'>
    <br><br>

      <button type="submit" class="btn btn-success col-xs-12">Vote</button>
      <br>

    <h4 class = 'vote'>{{submission.votes}}</h4>

    </div>

  </div>

  {% else %}

   <div class = 'fighter row col-xs-6 col-xs-offset-6 text-center'>

    <h2>{{submission.githubName}}</h2>
    <div class = 'picture col-xs-12'>
    <img src = '{{submission.githubImage}}' alt = 'competitors-pic'>
    <br><br>

      <button type="submit" class="btn btn-success col-xs-12">Vote</button>
      <br>

    <h4 class = 'vote'>{{submission.votes}}</h4>

    </div>

  </div>

    {% endif %}

    {% endfor %}



  </div>



{% endblock %}
